

<!DOCTYPE html>
<html>
<head>
	<title></title>

	<style>
	.greybg{
		background: yellow;
	}
	</style>
</head>
<body>



<h1>Selections</h1>




<% @selectionCount = 0 %>

<% @selections.each do |selection| %>

	<div class='<% if @selectionCount % 2 == 0 %>greybg<% end %> container'>






#set($api = $r.getAPI())
#set($apiHelper = $api.getHelper())


<header>

<!-- START menu area -->

<nav class="navbar navbar-default navbar-sub-hero">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#ideascale-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="ideascale-navbar-collapse-1" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">

         <!--  <img class="cl-banner-img"  src="/community-library/accounts/91/916148/NIH-logo.jpg" alt="community logo"/>
    -->

        <li><a href="#"><strong>Welcome <span class="sr-only">(current)</strong></span></a></li>
        <li><a href="/a/home">Ideas</a></li>
        <!--<li class="dropdown">
          <a href="#" class="7" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li> -->
      </ul>

    <!-- right-align navbar if necessary
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      -->

     <!-- optional button link
      <button type="button" action="/a/home"  class="btn btn-default navbar-btn">Sign in</button>
      -->


      <form class="navbar-form navbar-right" role="search" action="/a/ideas/search" method="GET" data-features="placeholder-text">
      <input type="hidden" name="templateId" value="0"/>
        <div class="form-group">
          <input  class="form-control with-placeholder-text cl-search-box" type="text" name="query" accesskey="s" tabindex="0" title="Enter Search Term" data-placeholder-text="Search Ideas" placeholder="Search Ideas">
        </div>
        <button type="submit" class="btn btn-default cl-search-btn"><span class="glyphicon glyphicon-search"></span></button>
      </form>

    </div><!-- /.navbar-collapse -->

</nav>


<!-- END menu area -->


<% if selection.herocarousel %>

<!-- START hero-slider -->
<section class="cl-section ">

    <div id="myCarousel"  data-interval="10000" class="carousel slide" data-ride="carousel">

    <% if selection.heroslide2bgurl != "" %>   
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <% if selection.heroslide3bgurl != "" %>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            <% end %>
        </ol> 
    <% end %> 


      <!-- Wrapper for slides -->


      <div class="carousel-inner landing-pg-bg-accent-1" role="listbox">



        <div class="item active carousel-item-1 landing-pg-bg-accent-1">
          <div class="carousel-caption">
            <h1><%= selection.heroslide1headerline %></h1>
            <p><%= selection.heroslide1textparagraph %></p>
    

          <% if selection.heroslide1button1name != "" %>
            <a href="<%= selection.heroslide1button1url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide1button1name %></button></a>
          <% end %>


          <% if selection.heroslide1button2name != "" %>
            <a href="<%= selection.heroslide1button2url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide1button2name %></button></a>
          <% end %>


          </div>
        </div>



      <% if selection.heroslide2bgurl != "" %>
          <div class="item carousel-item-2 landing-pg-bg-accent-1">
            <div class="carousel-caption">
              <h1><%= selection.heroslide2headerline %></h1>
              <p><%= selection.heroslide2textparagraph %></p>
      

            <% if selection.heroslide2button1name != "" %>
              <a href="<%= selection.heroslide2button1url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide2button1name %></button></a>
            <% end %>


            <% if selection.heroslide2button2name != "" %>
              <a href="<%= selection.heroslide2button2url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide2button2name %></button></a>
            <% end %>

            </div>
          </div>
      <% end %>


      <% if selection.heroslide3bgurl != "" %>
          <div class="item carousel-item-3 landing-pg-bg-accent-1">
            <div class="carousel-caption">
              <h1><%= selection.heroslide3headerline %></h1>
              <p><%= selection.heroslide3textparagraph %></p>
      

            <% if selection.heroslide3button1name != "" %>
              <a href="<%= selection.heroslide3button1url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide3button1name %></button></a>
            <% end %>


            <% if selection.heroslide3button2name != "" %>
              <a href="<%= selection.heroslide3button2url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide3button2name %></button></a>
            <% end %>

            </div>
          </div>
      <% end %>



    </div>



</section>
<!-- END hero-slider -->
<% end %>







</header>

<article>






<% if selection.welcomearea %>
  <!-- START general text area -->
  <section class="cl-section cl-your-role">
    <div class="cl-row row">

      #if($api.getCurrentMember())

      <img src="$api.getCurrentMember().getAvatar()" alt="$api.getCurrentMember().getName()"/>

      <h2>Welcome, $api.getCurrentMember().getName()</h2>
      #else
      <h2>Your Role</h2>
      #end

      <p class="text-center"><%= selection.welcomeareatext %></p>
      
      <hr class="dark"/>

    </div>
  </section>
  <!-- END general text area -->
<% end %>





<% if selection.activecampaigns %>
  <!-- START active campaigns -->
  #set($campaignCount = 0)
  #foreach($campaign in $api.getActiveCampaigns())
    #set($campaignCount = $campaignCount +1)
  #end

  #if($campaignCount > 0)
  <section class="cl-section cl-campaigns">

      <div class="row cl-row">
        <h2>Active Campaigns</h2>

          <p class="text-center">Browse our Active Campaigns</p>
          <hr class="dark"/>


          #foreach($campaign in $api.getActiveCampaigns())
          <a href="$campaign.getUrl()">
            <div class="col-md-4">
              <div

              #if($campaign.getLogo())
                style="background: url('$campaign.getLogo()') !important; background-size: cover;"
              #end

               class="cl-campaign-logo-box landing-pg-bg-accent-1"
          >
                <span class="cl-campaign-title">$textHelper.abbreviate($campaign.getName(), 100)</span>
              </div><!--cl-campaign-logo-box-->
              <article class="cl-campaign-box">
                <p>$textHelper.abbreviate($apiHelper.removeHtml($campaign.getDescription()), 360)</p>
                <span class="cl-campaign-idea-number">
                  <span class="brand-color is-icon is-icon-light-bulb" aria-hidden="true"></span>
                  <span class="sr-only">Number of Ideas:</span> $campaign.getIdeaCount()
                </span><!--cl-campaign-idea-number-->
                #if($campaign.getEndDate())
                  <span class="cl-campaign-end-date">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"> </span>
                    <span class="sr-only">End Date:</span>
                    <time datetime="$apiHelper.formatISO8601Time($campaign.getEndDate())"></time>
                    $apiHelper.formatDate($campaign.getEndDate(), "MMM dd, YYYY")
                  </span><!--cl-campaign-end-date-->
                #end
                </article>        
              </div><!--col-md-4-->
            </a>
        #end
      </div><!-- end row-->

    </section>
    #end
  <!-- END active campaigns -->
<% end %>



<% if selection.generaltext %>
  <!-- START general text area -->
  <section class="cl-section">

      <div class="row cl-row">

      <div class="col-md-8 col-md-offset-2">
        <h2><%= selection.textheaderline %></h2>
        <p class="text-center"><%= selection.textparagraph %></p>
      </div>
    </div>

  </section>
  <!-- END general text area -->  
<% end %>



<% if selection.pinnedideas %>
  <!-- START pinned ideas -->
  #set($ideaCount = 0)
  #foreach($idea in $api.getPinnedIdeas(4))
  #set($ideaCount = $ideaCount + 1)
  #end

  #if($ideaCount > 0)
        <section class="cl-ideas cl-ideas-pinned ">
          

            <div class="row cl-row">
              <h2>Pinned Ideas</h2>
              <p class="text-center ">With your knowledge and participation, we are hoping to bring our service to the next level.</p>
              <hr class="dark"/>
              

              #foreach($idea in $api.getPinnedIdeas(4))
                <div class="col-md-3 col-sm-6">
                  <div class="cl-idea-box #if($ideaCount % 2 == 0) cl-pin-rotate1 #else cl-pin-rotate2 #end">
                    <span class="glyphicon glyphicon-pushpin cl-idea-center-pin landing-pg-fg-accent-1"></span>
                    <h3><a href="$idea.getUrl()" class="landing-pg-fg-highlight">$textHelper.abbreviate($idea.getTitle(), 35)</a></h3>
                    #set($author = $idea.getAuthor())
                    <span class="cl-idea-author">$apiHelper.htmlEncode($author.getName())</span>
                    <p>$textHelper.abbreviate($idea.getDescription(), 150)</p>
                    <span class="cl-idea-stats landing-pg-fg-accent-1">
                      <span class="is-icon is-icon-arrow-up cl-text-contrast" aria-hidden="true"></span>
                      <span class="sr-only">Net Votes:</span> $idea.getNetVotes() &nbsp;
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                      <span class="sr-only">Number of Comments:</span> $idea.getCommentCount()
                    </span><!-- cl-idea-stats -->
                    </div>
                </div>        
                #set($ideaCount = $ideaCount + 1)
            #end
        </section>
      #end
  <!-- END pinned ideas -->
<% end %>






<% if selection.calloutideas %>
  <!-- START popular ideas callout style -->
  <section class="cl-ideas cl-ideas-callout landing-pg-bg-accent-1 cl-white-fg">
 
      <div class="row cl-row">
        <h2 >Popular Ideas </h2>

      <p class="text-center">The most popular ideas</p>
      <hr class="white" />


        #set($ideaCount = 0)
        #foreach($idea in $api.getIdeasByMode("top", 4))
        #set($ideaCount = $ideaCount + 1)
          <div class="col-md-3 col-sm-6">
            <div class="cl-idea-box cl-ideas-callout-style #if($ideaCount % 2 == 0) cl-ideas-callout-extra-margin #end">
              <h3><a href="$idea.getUrl()" class="landing-pg-fg-highlight">$textHelper.abbreviate($idea.getTitle(), 35)</a></h3>
              #set($author = $idea.getAuthor())
              $apiHelper.htmlEncode($author.getName())
              <p>$textHelper.abbreviate($apiHelper.removeHtml($idea.getDescription()), 120))</p>
              <span class="landing-pg-fg-accent-1 #if($ideaCount % 2 == 0) cl-idea-stats-callout-reverse #else cl-idea-stats-callout #end">
                <span class="is-icon is-icon-arrow-up" aria-hidden="true"></span>
                <span class="sr-only">Net Votes:</span> $idea.getNetVotes()
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span class="sr-only">Number of Comments:</span> $idea.getCommentCount()
              </span><!-- cl-idea-stats-->
            </div><!-- cl-idea-box-->
            <img src="$idea.author.avatar" class="#if($ideaCount % 2 == 0) cl-ideas-callout-author-reverse #else cl-ideas-callout-author #end " alt="$idea.author"/>
            <div class=" #if($ideaCount % 2 == 0) cl-ideas-callout-triangle-reverse #else cl-ideas-callout-triangle #end">
          </div>
        </div><!-- col-md-3 col-sm-6-->
      #end
      </div><!-- row cl-row -->

  </section>
  <!-- END popular ideas callout style -->
<% end %>



<% if selection.tags %>
<section class="cl-tags">

      <div class="row cl-row">
        <div class="col-md-8 col-md-offset-2">
              <h2>What We're Discussing</h2>
              <p class="text-center">Word cloud of most frequently used words</p>
              <hr class="dark"/>
              
          <p>#set($tags = $api.getTagsForTagCloud())
          #foreach($tag in $tags)
            <a href="$tag.getUrl()" class="$tag.getCssClassForActivity() cl-tag">$tag.getName()</a>
          #end
        </p>
      </div><!-- col-md-8-->
    </div><!-- row cl-row -->

</section>
<% end %>



<% if selection.video %>
  <!-- START general text area with video -->
  <section class="cl-section cl-video-section landing-pg-bg-accent-1 cl-white-fg">
    <div class="container">
      <div class="row cl-row ">
        <div class="col-md-8 col-md-offset-2">
          <h2>Where Good Ideas Come From</h2>
          <p class="text-center">Get some inspiration from this video.</p>
  
        <h2 class="sr-only">WHERE GOOD IDEAS COME FROM</h2>

        <!-- small screen icon -->
        <a href="<%= selection.videourl %>" rel="nofollow"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
        <h2><a class="cl-play-video-text" href="<%= selection.videourl %>" rel="nofollow">Play Innovation Video</a></h2>

        <!-- large screen iframe video -->
        <iframe class="landing-pg-bc-accent-1" width="100%" height="354" src="<%= selection.videourl %>" allowfullscreen ></iframe>
        
      </div><!-- col-md-8 -->
     </div><!-- row cl-row -->
    </div><!-- container -->
  </section>
  <!-- END general text area with video-->  
<% end %>



</article>



<% if selection.footer %>
<!-- START footer -->
<footer>
<div class="cl-footer landing-pg-bg-accent-1 cl-white-fg">

  <section class="cl-section ">




      <div class="row cl-row">


        <div class="col-md-3 col-sm-6">
          <h4><%= selection.footercol1header %></h4>
          <ul>
            <li><a href="<%= selection.footercol1item1url %>"><%= selection.footercol1item1title %></a></li>
            <li><a href="<%= selection.footercol1item2url %>"><%= selection.footercol1item2title %></a></li>
            <li><a href="<%= selection.footercol1item3url %>"><%= selection.footercol1item3title %></a></li>
            <li><a href="<%= selection.footercol1item4url %>"><%= selection.footercol1item4title %></a></li>
            <li><a href="<%= selection.footercol1item5url %>"><%= selection.footercol1item5title %></a></li>
          </ul>              
        </div>
        <div class="col-md-3 col-sm-6">
          <h4><%= selection.footercol2item1title %></h4>
          <ul>
            <li><a href="<%= selection.footercol2item1url %>"><%= selection.footercol2item1title %></a></li>
            <li><a href="<%= selection.footercol2item2url %>"><%= selection.footercol2item2title %></a></li>
            <li><a href="<%= selection.footercol2item3url %>"><%= selection.footercol2item3title %></a></li>
            <li><a href="<%= selection.footercol2item4url %>"><%= selection.footercol2item4title %></a></li>
            <li><a href="<%= selection.footercol2item5url %>"><%= selection.footercol2item5title %></a></li>
          </ul>              
        </div>
        <div class="col-md-3 col-sm-6">
          <h4><%= selection.footercol3header %></h4>
          <ul>
            <li><a href="<%= selection.footercol3item1url %>"><%= selection.footercol3item1title %></a></li>
            <li><a href="<%= selection.footercol3item2url %>"><%= selection.footercol3item2title %></a></li>
            <li><a href="<%= selection.footercol3item3url %>"><%= selection.footercol3item3title %></a></li>
            <li><a href="<%= selection.footercol3item4url %>"><%= selection.footercol3item4title %></a></li>
            <li><a href="<%= selection.footercol3item5url %>"><%= selection.footercol3item5title %></a></li>
          </ul>              
        </div>
        <div class="col-md-3 col-sm-6">
          <h4><%= selection.footercol4header %></h4>
          <ul>
            <li><a href="<%= selection.footercol4item1url %>"><%= selection.footercol4item1title %></a></li>
            <li><a href="<%= selection.footercol4item2url %>"><%= selection.footercol4item2title %></a></li>
            <li><a href="<%= selection.footercol4item3url %>"><%= selection.footercol4item3title %></a></li>
            <li><a href="<%= selection.footercol4item4url %>"><%= selection.footercol4item4title %></a></li>
            <li><a href="<%= selection.footercol4item5url %>"><%= selection.footercol4item5title %></a></li>
          </ul>              
        </div>
      </div><!-- row cl-row -->





  </section>


</div>
</footer>
<!-- END footer -->
<% end %>






COMMUNITY URL: <%= selection.communityurl %>


Accent 1: #<%= selection.coloraccent1 %> <br />
Accent 2: #<%= selection.coloraccent2 %> <br />
Highlight: #<%= selection.colorhighlight %> <br />

.carousel-inner > .carousel-item-1{
  background: url("<%= selection.heroslide1bgurl%>");
}


.carousel-inner > .carousel-item-2{
  background: url("<%= selection.heroslide2bgurl%>");
}

.carousel-inner > .carousel-item-3{
  background: url("<%= selection.heroslide3bgurl%>");
}


	</div>


<!-- ___________           .___         _____  .____                       .___.__                 __________                        
\_   _____/ ____    __| _/   _____/ ____\ |    |   _____    ____    __| _/|__| ____    ____   \______   \_____     ____   ____  
 |    __)_ /    \  / __ |   /  _ \   __\  |    |   \__  \  /    \  / __ | |  |/    \  / ___\   |     ___/\__  \   / ___\_/ __ \ 
 |        \   |  \/ /_/ |  (  <_> )  |    |    |___ / __ \|   |  \/ /_/ | |  |   |  \/ /_/  >  |    |     / __ \_/ /_/  >  ___/ 
/_______  /___|  /\____ |   \____/|__|    |_______ (____  /___|  /\____ | |__|___|  /\___  /   |____|    (____  /\___  / \___  >
        \/     \/      \/                         \/    \/     \/      \/         \//_____/                   \//_____/      \/ 
 -->
	<hr />

<% @selectionCount += 1 %>
<% end %>





</body>
</html>



