

<!DOCTYPE html>
<html>
<head>
	<title></title>

  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin= "anonymous">

</head>
<body>


<div class="container">

<h1>Selections</h1>
<% @selectionCountInit = 0 %>

<% @selections.each do |selection| %>



<ul>
<li><a href="#<%= @selectionCountInit%>"><%= selection.communityurl %></a></li>


<% @selectionCountInit += 1 %>

</ul>
<% end %>





<% @selectionCount = 0 %>

<% @selections.each do |selection| %>


<h3 id="<%= @selectionCount %>"><%= selection.communityurl %></h3>


	<div class='<% if @selectionCount % 2 == 0 %>well<% end %> container'>





<h4 >Custom Landing Page</h4>
<textarea style="width: 100%; height: 300px;">


#set($api = $r.getAPI())
#set($apiHelper = $api.getHelper())


<header>


<!-- START menu area -->

<nav class="navbar navbar-default navbar-sub-hero">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header"> 
      <button type="button" class="navbar-toggle " data-toggle="collapse" data-target="#ideascale-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>


    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="ideascale-navbar-collapse-1" class="collapse navbar-collapse">
      
    <% if selection.headerlink1text == "" %>
      <ul class="nav navbar-nav">
        <li><a href="#"><strong>WELCOME<span class="sr-only">(current)</strong></span></a></li>
        <li><a href="/a/home">HOME</a></li>
        <li><a href="/a/ideas/recent">IDEAS</a></li>
      </ul>

    <% else %>
    <ul class="nav navbar-nav">
      <% if selection.headerlink1text %>
        <li><a href="<%= selection.headerlink1url %>"><%=selection.headerlink1text%></a></li>
      <% end %>

      <% if selection.headerlink2text %>
        <li><a href="<%=selection.headerlink2url%>"><%=selection.headerlink2text%></a></li>      
      <% end %>

      <% if selection.headerlink3text %>
        <li><a href="<%=selection.headerlink3url%>"><%=selection.headerlink3text%></a></li>      
      <% end %>    

      <% if selection.headerlink4text %>
        <li><a href="<%=selection.headerlink4url%>"><%=selection.headerlink4text%></a></li>      
      <% end %>    

      <% if selection.headerlink5text %>
        <li><a href="<%=selection.headerlink5url%>"><%=selection.headerlink5text%></a></li>      
      <% end %>    
    </ul>
    <% end %>

    <!-- right-align navbar if necessary
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
      -->

     <!-- optional button link
      <button type="button" action="/a/home"  class="btn btn-default navbar-btn">Sign in</button>
      -->


<div class="cl-search">
<nav class=" navbar-form navbar-right">
  <form role="search" action="/a/ideas/search" method="GET" data-features="placeholder-text search-box">
    <div class="input-group">
      <span class="input-group-btn">
        <input type="hidden" name="templateId" value="0"/>
        <button type="submit" class="btn btn-sm btn-primary">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
      </span>
      <input class="form-control input-sm with-placeholder-text search-control" type="text" name="query" accesskey="s" tabindex="0" title="Enter Search Term" data-placeholder-text="Search Ideas" placeholder="Search Ideas">
    </div>
          <div class="text-right search-help-block" style="display: none">or <a href="/a/ideas/search">jump to advanced search</a></div>
      </form>
</nav>
</div>
    </div><!-- /.navbar-collapse -->

</nav>



<!-- END menu area -->

<% if selection.herocarousel %>

<!-- START hero-slider -->
<section class="cl-section ">

    <div id="myCarousel"  data-interval="10000" class="carousel slide" data-ride="carousel">

    <% if selection.heroslide2bgurl != "" %>   
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <% if selection.heroslide3bgurl != "" %>
              <li data-target="#myCarousel" data-slide-to="2"></li>
            <% end %>
        </ol> 
    <% end %> 


      <!-- Wrapper for slides -->


      <div class="carousel-inner landing-pg-bg-accent-1" role="listbox">



        <div class="item active carousel-item-1">
          <div class="carousel-caption">
            <h1><%= selection.heroslide1headerline %></h1>
            <p><%= selection.heroslide1textparagraph %></p>
    

          <% if selection.heroslide1button1name != "" %>
            <a href="<%= selection.heroslide1button1url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide1button1name %></button></a>
          <% end %>


          <% if selection.heroslide1button2name != "" %>
            <a href="<%= selection.heroslide1button2url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide1button2name %></button></a>
          <% end %>


          </div>
        </div>



      <% if selection.heroslide2bgurl != "" %>
          <div class="item carousel-item-2">
            <div class="carousel-caption">
              <h1><%= selection.heroslide2headerline %></h1>
              <p><%= selection.heroslide2textparagraph %></p>
      

            <% if selection.heroslide2button1name != "" %>
              <a href="<%= selection.heroslide2button1url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide2button1name %></button></a>
            <% end %>


            <% if selection.heroslide2button2name != "" %>
              <a href="<%= selection.heroslide2button2url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide2button2name %></button></a>
            <% end %>

            </div>
          </div>
      <% end %>


      <% if selection.heroslide3bgurl != "" %>
          <div class="item carousel-item-3">
            <div class="carousel-caption">
              <h1><%= selection.heroslide3headerline %></h1>
              <p><%= selection.heroslide3textparagraph %></p>
      

            <% if selection.heroslide3button1name != "" %>
              <a href="<%= selection.heroslide3button1url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide3button1name %></button></a>
            <% end %>


            <% if selection.heroslide3button2name != "" %>
              <a href="<%= selection.heroslide3button2url %>"><button type="submit" class="btn btn-info landing-pg-bg-highlight landing-pg-bc-highlight"><%= selection.heroslide3button2name %></button></a>
            <% end %>

            </div>
          </div>
      <% end %>



    </div>



</section>
<!-- END hero-slider -->
<% end %>







</header>

<article>






<% if selection.welcomearea %>
  <!-- START general text area -->
  <section class="cl-section cl-your-role">
    <div class="cl-row row">

      #if($api.getCurrentMember())

      <img src="$api.getCurrentMember().getAvatar()" alt="$api.getCurrentMember().getName()"/>

      <h2>Welcome, $api.getCurrentMember().getName()</h2>
      #else
      <h2>Your Role</h2>
      #end

      <p class="text-center"><%= selection.welcomeareatext %></p>
      
      <hr class="dark"/>

    </div>
  </section>
  <!-- END general text area -->
<% end %>





<% if selection.activecampaigns %>


  <!-- START active campaigns -->
  #set($campaignCount = 0)
  #foreach($campaign in $api.getActiveCampaigns())
    #set($campaignCount = $campaignCount +1)
  #end

  #if($campaignCount > 0)
  <section class="cl-section cl-campaigns">

      <div class="row cl-row">
        <h2>Active Campaigns</h2>

          <p class="text-center">Browse ongoing initiatives</p>
          <hr class="dark"/>


          #foreach($campaign in $api.getActiveCampaigns())
          <a href="$campaign.getUrl()">
            <div class="col-md-4">
              <div

              #if($campaign.getLogo())
                style="background: url('$campaign.getLogo()') !important; background-size: cover !important;"
              #end

               class="cl-campaign-logo-box landing-pg-bg-accent-1"
          >
                <span class="cl-campaign-title">$textHelper.abbreviate($campaign.getName(), 100)</span>
              </div><!--cl-campaign-logo-box-->
              <article class="cl-campaign-box">
                <p>$textHelper.abbreviate($apiHelper.removeHtml($campaign.getDescription()), 360)</p>
                <span class="cl-campaign-idea-number">
                  <span class="brand-color is-icon is-icon-light-bulb" aria-hidden="true"></span>
                  <span class="sr-only">Number of Ideas:</span> $campaign.getIdeaCount()
                </span><!--cl-campaign-idea-number-->
                #if($campaign.getEndDate())
                  <span class="cl-campaign-end-date">
                    <span class="glyphicon glyphicon-time" aria-hidden="true"> </span>
                    <span class="sr-only">End Date:</span>
                    <time datetime="$apiHelper.formatISO8601Time($campaign.getEndDate())"></time>
                    $apiHelper.formatDate($campaign.getEndDate(), "MMM dd, YYYY")
                  </span><!--cl-campaign-end-date-->
                #end
                </article>        
              </div><!--col-md-4-->
            </a>
        #end
      </div><!-- end row-->

    </section>
    #end
  <!-- END active campaigns -->

<% end %>



<% if selection.horizontalcampaigns %> 

  <!-- START horizontal active campaigns -->
  #set($campaignCount = 0)
  #foreach($campaign in $api.getActiveCampaigns())
    #set($campaignCount = $campaignCount +1)
  #end

  #if($campaignCount > 0)
  <section class="cl-section cl-campaigns cl-campaigns-horizontal">

      <div class="row cl-row">
        <h2>Active Campaigns</h2>

          <p class="text-center">Browse ongoing initiatives</p>
          <hr class="dark"/>

          #foreach($campaign in $api.getActiveCampaigns())
            
    
    <div class="container">
    <div class="row">
              <div class="col-md-3">
                <a href="$campaign.getUrl()"><img src="$campaign.getLogo()" alt="campaign logo" class="img-responsive"/></a>
              </div>
              <div class="col-md-9">
               <a href="$campaign.getUrl()"> <h3 class="cl-campaign-horz-name landing-pg-fg-highlight">$campaign.getName()</h3></a>
               #if($campaign.getGroup()) <span class="landing-pg-fg-accent-2"> $api.getCampaignGroupById($campaign.getGroupId()).getName() </span>#end
                #if($campaign.getDescription())<p class="cl-campaign-horz-description">$campaign.getDescription()</p>#end
              </div>
    </div>
    </div>
       
          #end
        </div><!-- row -->
    </section>
    #end
  <!-- END active campaigns -->

<% end %>


<% if selection.generaltext %>
  <!-- START general text area -->
  <section class="cl-section">

      <div class="row cl-row">

      <div class="col-md-8 col-md-offset-2">
        <h2><%= selection.textheaderline %></h2>
        <p class="text-center"><%= selection.textparagraph %></p>
      </div>
    </div>

  </section>
  <!-- END general text area -->  
<% end %>



<% if selection.pinnedideas %>


  <!-- START pinned ideas -->
  #set($ideaCount = 0)
  #foreach($idea in $api.getPinnedIdeas(4))
  #set($ideaCount = $ideaCount + 1)
  #end

  #if($ideaCount > 0)
        <section class="cl-ideas cl-ideas-pinned ">
          

            <div class="row cl-row">
              <h2>Pinned Ideas</h2>
              <p class="text-center ">Ideas worth noticing</p>
              <hr class="dark"/>
              

    #if($ideaCount < 3)
              <div class="col-md-3">
              </div>
              #foreach($idea in $api.getPinnedIdeas(4))
                <div class=" col-md-3 col-sm-6">
                  <div class="cl-idea-box #if($ideaCount % 2 == 0) cl-pin-rotate1 #else cl-pin-rotate2 #end">
                    <span class="glyphicon glyphicon-pushpin cl-idea-center-pin landing-pg-fg-accent-1"></span>
                    <h3><a href="$idea.getUrl()" class="landing-pg-fg-highlight">$textHelper.abbreviate($idea.getTitle(), 35)</a></h3>
                    #set($author = $idea.getAuthor())
                    <span class="cl-idea-author">$apiHelper.htmlEncode($author.getName())</span>
                    <p>$textHelper.abbreviate($idea.getDescription(), 150)</p>
                    <span class="cl-idea-stats landing-pg-fg-accent-1">
                      <span class="is-icon is-icon-arrow-up cl-text-contrast" aria-hidden="true"></span>
                      <span class="sr-only">Net Votes:</span> $idea.getNetVotes() &nbsp;
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                      <span class="sr-only">Number of Comments:</span> $idea.getCommentCount()
                    </span><!-- cl-idea-stats -->
                    </div>
                </div>        
                #set($ideaCount = $ideaCount + 1)
            #end
    #else
              #foreach($idea in $api.getPinnedIdeas(4))
                <div class="col-md-3 col-sm-6">
                  <div class="cl-idea-box #if($ideaCount % 2 == 0) cl-pin-rotate1 #else cl-pin-rotate2 #end">
                    <span class="glyphicon glyphicon-pushpin cl-idea-center-pin landing-pg-fg-accent-1"></span>
                    <h3><a href="$idea.getUrl()" class="landing-pg-fg-highlight">$textHelper.abbreviate($idea.getTitle(), 35)</a></h3>
                    #set($author = $idea.getAuthor())
                    <span class="cl-idea-author">$apiHelper.htmlEncode($author.getName())</span>
                    <p>$textHelper.abbreviate($idea.getDescription(), 150)</p>
                    <span class="cl-idea-stats landing-pg-fg-accent-1">
                      <span class="is-icon is-icon-arrow-up cl-text-contrast" aria-hidden="true"></span>
                      <span class="sr-only">Net Votes:</span> $idea.getNetVotes() &nbsp;
                      <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                      <span class="sr-only">Number of Comments:</span> $idea.getCommentCount()
                    </span><!-- cl-idea-stats -->
                    </div>
                </div>        
                #set($ideaCount = $ideaCount + 1)
            #end
      #end
        </section>
      #end
  <!-- END pinned ideas -->
<% end %>






<% if selection.calloutideas %>


  <!-- START popular ideas callout style -->
  <section class="cl-ideas cl-ideas-callout cl-white-fg

  <% if selection.divbgimg %>

  cl-fade-bg
 
 <% end %>

 ">

 <% if selection.divbgimg %>
  <div class="landing-pg-bg-accent-1 cl-trans-overlay">
  </div>
 <% end %>

      <div class="row cl-row">

        <div class="row">
          <div class="col-md-12">
              <h2>Popular Ideas </h2>
              <hr class="white" />
            </div>
        </div>

        #set($ideaCount = 0)
        #foreach($idea in $api.getIdeasByMode("top", 4))
        #set($ideaCount = $ideaCount + 1)
          <div class="col-md-3 col-sm-6">
            <div class="cl-idea-box cl-ideas-callout-style #if($ideaCount % 2 == 0) cl-ideas-callout-extra-margin #end">
              <h3><a href="$idea.getUrl()" class="landing-pg-fg-highlight">$textHelper.abbreviate($idea.getTitle(), 35)</a></h3>
              #set($author = $idea.getAuthor())
              <span class="landing-pg-fg-accent-1">$apiHelper.htmlEncode($author.getName())</span>
              <p>$textHelper.abbreviate($apiHelper.removeHtml($idea.getDescription()), 120)</p>
              <span class="landing-pg-fg-accent-1 #if($ideaCount % 2 == 0) cl-idea-stats-callout-reverse #else cl-idea-stats-callout #end">
                <span class="is-icon is-icon-arrow-up" aria-hidden="true"></span>
                <span class="sr-only">Net Votes:</span> $idea.getNetVotes()
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span class="sr-only">Number of Comments:</span> $idea.getCommentCount()
              </span><!-- cl-idea-stats-->
            </div><!-- cl-idea-box-->
            <img src="$idea.author.avatar" class="#if($ideaCount % 2 == 0) cl-ideas-callout-author-reverse #else cl-ideas-callout-author #end " alt="$idea.author"/>
            <div class=" #if($ideaCount % 2 == 0) cl-ideas-callout-triangle-reverse #else cl-ideas-callout-triangle #end">
          </div>
        </div><!-- col-md-3 col-sm-6-->
      #end
      </div><!-- row cl-row -->

  </section>
  <!-- END popular ideas callout style -->


<% end %>










<% if selection.animated %>



  <!-- START random animated ideas callout style -->
  <section class="cl-ideas cl-ideas-callout cl-white-fg

<% if selection.animatedbg %>
  

  cl-fade-bg-animated
 
 <% end %>

 ">

 
 <% if selection.animatedbg %>
  <div class="landing-pg-bg-accent-1 cl-trans-overlay">
  </div>
 <% end %>

      <div class="row cl-row">

        <div class="row">
          <div class="col-md-12">
              <h2>Ideas </h2>
              <hr class="white" />
            </div>
        </div>

<div id="cl-callout-ideas-div">
        #set($ideaCount = 0)
        #foreach($idea in $api.getIdeasByMode("random", 4))
        #set($ideaCount = $ideaCount + 1)
          <div class="col-md-3 col-sm-6">
            <div class="cl-idea-box cl-ideas-callout-style #if($ideaCount % 2 == 0) cl-ideas-callout-extra-margin #end">
              <h3><a href="$idea.getUrl()" class="landing-pg-fg-highlight">$textHelper.abbreviate($idea.getTitle(), 35)</a></h3>
              #set($author = $idea.getAuthor())
              <span class="landing-pg-fg-accent-1">$apiHelper.htmlEncode($author.getName())</span>
              <p>$textHelper.abbreviate($apiHelper.removeHtml($idea.getDescription()), 120)</p>
              <span class="landing-pg-fg-accent-1 #if($ideaCount % 2 == 0) cl-idea-stats-callout-reverse #else cl-idea-stats-callout #end">
                <span class="is-icon is-icon-arrow-up" aria-hidden="true"></span>
                <span class="sr-only">Net Votes:</span> $idea.getNetVotes()
                <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                <span class="sr-only">Number of Comments:</span> $idea.getCommentCount()
              </span><!-- cl-idea-stats-->
            </div><!-- cl-idea-box-->
            <img src="$idea.author.avatar" class="#if($ideaCount % 2 == 0) cl-ideas-callout-author-reverse #else cl-ideas-callout-author #end " alt="$idea.author"/>
            <div class=" #if($ideaCount % 2 == 0) cl-ideas-callout-triangle-reverse #else cl-ideas-callout-triangle #end">
          </div>
        </div><!-- col-md-3 col-sm-6-->
      #end
</div>
      </div><!-- row cl-row -->

  </section>
  <!-- END popular ideas callout style -->







<% end %>





<% if selection.tags %>

<section class="cl-tags">

      <div class="row cl-row">
        <div class="col-md-8 col-md-offset-2 text-center">
              <h2>Popular Topics</h2>
              
          <p>#set($tags = $api.getTagsForTagCloud())
          #foreach($tag in $tags)
            <a href="$tag.getUrl()" class="$tag.getCssClassForActivity() cl-tag">$tag.getName()</a>
          #end
        </p>
      </div><!-- col-md-8-->
    </div><!-- row cl-row -->

</section>


<% end %>



<% if selection.video %>
  <!-- START general text area with video -->
  <section class="cl-section cl-video-section landing-pg-bg-accent-1 cl-white-fg">
    <div class="container">
      <div class="row cl-row ">
        <div class="col-md-8 col-md-offset-2">

        <!-- small screen icon -->
        <a href="https://www.youtube.com/watch?v=oSWEd4o-BdE" rel="nofollow"><span class="glyphicon glyphicon-play-circle" aria-hidden="true"></span></a>
      <a class="cl-play-video-text" href="https://www.youtube.com/watch?v=NugRZGDbPFU" rel="nofollow"><h2 class="cl-video-sm-link">Play Innovation Video</h2></a>

        <!-- large screen iframe video -->
        <iframe class="landing-pg-bc-accent-1" width="100%" height="354" src="https://www.youtube.com/embed/NugRZGDbPFU?wmode=transparent" allowfullscreen="true"></iframe>
        
      </div><!-- col-md-8 -->
     </div><!-- row cl-row -->
    </div><!-- container -->
  </section>
  <!-- END general text area with video-->  
<% end %>



</article>



<% if selection.footer %>
<!-- START footer -->
<footer>
<div class="cl-footer landing-pg-bg-accent-1 cl-white-fg">

  <section class="cl-section ">


      <div class="row cl-row">


        <div class="col-lg-3 col-md-12">
          <h4><%= selection.footercol1header %></h4>
          <ul>
            <li><a href="<%= selection.footercol1item1url %>"><%= selection.footercol1item1title %></a></li>
            <li><a href="<%= selection.footercol1item2url %>"><%= selection.footercol1item2title %></a></li>
            <li><a href="<%= selection.footercol1item3url %>"><%= selection.footercol1item3title %></a></li>
            <li><a href="<%= selection.footercol1item4url %>"><%= selection.footercol1item4title %></a></li>
            <li><a href="<%= selection.footercol1item5url %>"><%= selection.footercol1item5title %></a></li>
          </ul>              
        </div>
        <div class="col-lg-3 col-md-12">
          <h4><%= selection.footercol2item1title %></h4>
          <ul>
            <li><a href="<%= selection.footercol2item1url %>"><%= selection.footercol2item1title %></a></li>
            <li><a href="<%= selection.footercol2item2url %>"><%= selection.footercol2item2title %></a></li>
            <li><a href="<%= selection.footercol2item3url %>"><%= selection.footercol2item3title %></a></li>
            <li><a href="<%= selection.footercol2item4url %>"><%= selection.footercol2item4title %></a></li>
            <li><a href="<%= selection.footercol2item5url %>"><%= selection.footercol2item5title %></a></li>
          </ul>              
        </div>
        <div class="col-lg-3 col-md-12">
          <h4><%= selection.footercol3header %></h4>
          <ul>
            <li><a href="<%= selection.footercol3item1url %>"><%= selection.footercol3item1title %></a></li>
            <li><a href="<%= selection.footercol3item2url %>"><%= selection.footercol3item2title %></a></li>
            <li><a href="<%= selection.footercol3item3url %>"><%= selection.footercol3item3title %></a></li>
            <li><a href="<%= selection.footercol3item4url %>"><%= selection.footercol3item4title %></a></li>
            <li><a href="<%= selection.footercol3item5url %>"><%= selection.footercol3item5title %></a></li>
          </ul>              
        </div>
        <div class="col-lg-3 col-md-12">
          <h4><%= selection.footercol4header %></h4>
          <ul>
            <li><a href="<%= selection.footercol4item1url %>"><%= selection.footercol4item1title %></a></li>
            <li><a href="<%= selection.footercol4item2url %>"><%= selection.footercol4item2title %></a></li>
            <li><a href="<%= selection.footercol4item3url %>"><%= selection.footercol4item3title %></a></li>
            <li><a href="<%= selection.footercol4item4url %>"><%= selection.footercol4item4title %></a></li>
            <li><a href="<%= selection.footercol4item5url %>"><%= selection.footercol4item5title %></a></li>
          </ul>              
        </div>
      </div><!-- row cl-row -->





  </section>


</div>
</footer>
<!-- END footer -->


<% end %>




  <% if selection.animated %>

    #if($r.isAuthenticated())



<script>

  var alternator = 1;

  setInterval(function(){
    if(alternator % 2 == 0){
      $.ajax({
        url: "/a/pages/idea-frag-even",
        success: function(result){
          $("#cl-callout-ideas-div").find(":first-child")[0].remove();
          $("#cl-callout-ideas-div").append(result).hide().fadeIn(999);
        }
      })    
    } else {
      $.ajax({
        url: "/a/pages/idea-frag-odd",
        success: function(result){
          $("#cl-callout-ideas-div").find(":first-child")[0].remove();
          $("#cl-callout-ideas-div").append(result).hide().fadeIn(999);
        }
      })      
    }

    alternator += 1;
  }, 10000);


</script>
    #end
  <% end %>


</textarea>




<h4>Community Colors</h4>

<textarea style="width: 100%; height: 130px;">

Highlight: <%= selection.colorhighlight %> 
Accent 1: <%= selection.coloraccent1 %> 
Accent 2: <%= selection.coloraccent2 %> 

</textarea>




<h4>Theme for Landing Page and Custom Pages</h4>
<textarea style="width: 100%; height: 300px;">



/* -------general------- */
.cl-white-fg {
  color: #fff;
}
<%if selection.divbgimg %>

.cl-fade-bg{
  background: url("<%= selection.animatedbg%>") !important;
  background-size: cover !important;
}

<% end %>

<%if selection.animatedbg %>
.cl-fade-bg-animated{
  background: url("<%= selection.animatedbg%>") !important;
  background-size: cover !important;  
}

<% end %>
.cl-trans-overlay {
  opacity: .8;
  width: 100%;
  height: 100%;
  position: absolute;
}
body.custom-landing-body {
  background: #f5f5f5 !important;
}
body.custom-landing-body a:hover {
  text-decoration: none;
}
.cl-banner-img {
  float: left;
  height: 50px;
}
@media (max-width: 768px) {
  .cl-banner-img {
    display: none;
  }
}
.cl-row {
  padding-top: 45px;
  padding-bottom: 75px;
}
.cl-row h1,
.cl-row h2,
.cl-row h3,
.cl-row h4 {
  text-align: center;
  padding-bottom: 8px;
}
.cl-row ul {
  list-style-position: inside;
}
.cl-row ul li {
  font-size: 15px;
}
.cl-row h1 {
  font-size: 50px;
}
.cl-row h2 {
  font-size: 35px;
}
.cl-row p {
  font-size: 18px;
}
.cl-row ul li {
  font-size: 18px;
}
.custom-landing-body hr.dark {
  border: 0;
  height: 2px;
  width: 25%;
  background-image: linear-gradient(to right, #000000, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 45px;
}
.custom-landing-body hr.white {
  border: 0;
  height: 2px;
  width: 25%;
  background-image: linear-gradient(to right, #ffffff, rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
  margin-bottom: 45px;
}
.cl-section .btn {
  border: none;
  color: #fff;
  -o-transition: .10s;
  -ms-transition: .10s;
  -moz-transition: .10s;
  -webkit-transition: .10s;
  transition: .10s;
}
.custom-landing-body a {
  -o-transition: .10s;
  -ms-transition: .10s;
  -moz-transition: .10s;
  -webkit-transition: .10s;
  transition: .10s;
}
/* -------END general------- */
/* --------navbar------- */
/* responive view hamburger toggle button line color */
.cl-search .input-sm {
  height: 30px;
}
.cl-search .btn-primary {
  background-color: #ccc;
  border-color: #ccc;
}
.cl-search .navbar-form .input-group > .form-control {
  width: 109%;
}
.custom-landing-body nav.navbar-sub-hero {
  border: none;
  background: none;
  z-index: 99;
  letter-spacing: 1px;
  padding-top: 15px;
  /* topbar menu items displayed on full*/
  /* navbar logo */
}
.custom-landing-body nav.navbar-sub-hero input[type="text"].cl-search-box {
  top: 13px;
  border-radius: 5px;
  float: right;
  width: 150px;
  font-weight: normal;
}
.custom-landing-body nav.navbar-sub-hero .cl-search-btn {
  padding: 6px 10px 6px 10px;
  font-size: 12px;
  border-radius: 5px;
}
.custom-landing-body nav.navbar-sub-hero #ideascale-navbar-collapse-1 ul li {
  text-transform: uppercase;
  font-size: 18px;
  /* submenu items */
}
.custom-landing-body nav.navbar-sub-hero #ideascale-navbar-collapse-1 ul li > ul > li {
  font-size: 15px;
  text-transform: none;
}
.custom-landing-body nav.navbar-sub-hero .navbar-brand {
  padding: 0;
}
.custom-landing-body nav.navbar-sub-hero .navbar-brand > img {
  padding: 10px 30px 5px 10px;
  max-height: 50px;
}
.custom-landing-body nav.navbar-sub-hero .navbar-nav {
  /* top level items without a dropdown menu*/
}
.custom-landing-body nav.navbar-sub-hero .navbar-nav > li > a {
  color: #000;
}
.navbar-default .navbar-nav .open .dropdown-menu {
  background-color: #fff;
  z-index: 999;
}
@media (max-width: 768px) {
  .navbar-sub-hero[role="search"] {
    display: none;
  }
}
nav.navbar-sub-hero .navbar-nav li:nth-child(1) {
  font-weight: 600;
  text-transform: none !important;
}
/* -------END navbar------- */
/* -------carousel------ */

.carousel-inner > .carousel-item-1{
<% if selection.heroslide1bgurl %>
  background: url("<%= selection.heroslide1bgurl%>") !important;
  background-size: cover !important;
<% end %>
}


.carousel-inner > .carousel-item-2{
<% if selection.heroslide2bgurl %>

  background: url("<%= selection.heroslide2bgurl%>") !important;
  background-size: cover !important;
<% end %>

}

.carousel-inner > .carousel-item-3{
<% if selection.heroslide3bgurl %>

  background: url("<%= selection.heroslide3bgurl%>") !important;
  background-size: cover !important;

<% end %>
}

.carousel-caption {
  left: 0;
  top: 30%;
  width: 100%;
}
.carousel-caption > p {
  margin: 0 auto;
  display: block;
  width: 90%;
  font-size: 18px;
  padding-bottom: 15px;
  text-shadow: #000 1px 2px 17px;
  font-weight: 700;
}
.carousel-caption h1,
.carousel-caption h2,
.carousel-caption h3,
.carousel-caption h4 {
  font-weight: 900;
  text-shadow: #000 1px 2px 17px;
}
.carousel-caption h1 {
  font-size: 40px;
}
.carousel-caption .btn {
  font-weight: 900;
  margin: 0 auto;
  display: inline-block;
  margin-top: 15px;
  margin-left: 15px;
}
.carousel .item {
  width: 100%;
  height: 500px;
  background-size: cover;
}
@media (max-width: 400px) {
  .carousel-caption h1 {
    font-size: 30px;
  }
  .carousel-caption p {
    font-size: 15px;
    padding-bottom: 15px;
  }
}
/* turn off default carousel controls from bootstrap */
.carousel-control.left {
  display: none;
}
.carousel-control.right {
  display: none;
}
.carousel-item-1 {
  background: url("/community-library/accounts/92/925005/slider1.jpg");
}
/* overriding default bootstrap styles for the circle controllers to make them sleek squares */
.carousel-indicators li {
  border-radius: 100%;
  width: 10px;
  height: 10px;
}
.carousel-indicators .active {
  width: 10px;
  height: 10px;
  margin-bottom: 1px;
}
/* -------END carousel------ */
/* -------your role------- */
.cl-your-role > .cl-row {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 30px;
}
.cl-your-role > .cl-row > img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  border-radius: 100%;
  margin-bottom: 15px;
}
/* -------END your role-------- */
/* -------idea boxes, regular------ */
.cl-ideas .cl-idea-box {
  padding: 15px;
  border: 1px solid #ccc;
  background: #fff;
  margin-bottom: 30px;
  height: 270px;
  border-radius: 5px;
}
.cl-ideas .cl-idea-box p {
  font-size: 14px;
  color: #333;
}
.cl-ideas .cl-idea-box h3 a {
  font-weight: 900;
}
.cl-ideas .cl-idea-stats {
  position: absolute;
  bottom: 45px;
  left: 30px;
}
@media (max-width: 768px) {
  .cl-ideas .cl-idea-stats {
    bottom: 15px;
  }
}
@media (max-width: 400px) {
  .cl-ideas .cl-idea-box {
    margin-left: 8px;
    margin-right: 8px;
  }
}
/* -------END idea boxes, regular------ */
/* -------idea boxes, pinned ------ */
.cl-ideas-pinned .cl-idea-box h3 a {
  font-weight: 900;
}
.cl-ideas-pinned .cl-idea-center-pin {
  text-align: center;
  width: 100%;
  font-size: 35px;
  top: -25px;
  left: 5px;
  position: absolute;
}
.cl-ideas-pinned .cl-idea-stats {
  bottom: 15px;
  left: 15px;
}
.cl-ideas-pinned .cl-pin-rotate1 {
  transform: rotate(3deg);
  -webkit-transform: rotate(3deg);
}
.cl-ideas-pinned .cl-pin-rotate1:hover {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
.cl-ideas-pinned .cl-pin-rotate2 {
  transform: rotate(-1deg);
  -webkit-transform: rotate(-1deg);
}
.cl-ideas-pinned .cl-pin-rotate2:hover {
  transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
@media (min-width: 1200px) {
  .cl-ideas-pinned > .cl-row {
    padding-left: 90px;
    padding-right: 90px;
  }
}
/* -------END idea boxes, pinned ------ */
/* -------idea boxes, callout style------ */
.cl-ideas-callout {
  position: relative;
  /* used to add padding to every other callout idea for visual interest */
}
.cl-ideas-callout .cl-ideas-callout-style {
  border: none;
  box-shadow: none;
}
.cl-ideas-callout .cl-idea-stats-callout {
  position: absolute;
  bottom: 75px;
  left: 30px;
}
.cl-ideas-callout .cl-idea-stats-callout-reverse {
  position: absolute;
  bottom: 75px;
  right: 30px;
}
.cl-ideas-callout .cl-ideas-callout-extra-margin {
  margin-top: 50px;
}
.cl-ideas-callout .cl-ideas-callout-triangle {
  background: url("/images/custom-landing/callout.png");
  background-repeat: no-repeat;
  background-position: top right;
  width: 60%;
  height: 60px;
  margin-top: -30px;
}
.cl-ideas-callout .cl-ideas-callout-triangle-reverse {
  background: url("/images/custom-landing/callout2.png");
  background-repeat: no-repeat;
  background-position: top right;
  padding-right: 170px;
  width: 60%;
  height: 60px;
  margin-top: -30px;
}
.cl-ideas-callout .cl-ideas-callout-author {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  position: absolute;
  bottom: 15px;
  right: 55px;
  z-index: 1;
}
.cl-ideas-callout .cl-ideas-callout-author-reverse {
  width: 75px;
  height: 75px;
  border-radius: 100%;
  position: absolute;
  bottom: 15px;
  left: 45px;
  z-index: 1;
}
@media (min-width: 1200px) {
  .cl-ideas-callout > .cl-row {
    padding-left: 90px;
    padding-right: 90px;
  }
}
@media (max-width: 1200px) {
  .cl-ideas-callout .cl-ideas-callout-style {
    margin-left: 1px;
    margin-right: 1px;
  }
}
/* -------END idea boxes, callout style------ */
/* -------campaigns, standard with campaign logo with white title overlay, contained in white box------ */
.cl-campaigns .cl-campaign-box {
  background: #fff;
  border: 1px solid #ccc;
  padding: 15px;
  height: 270px;
  margin-bottom: 30px;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
.cl-campaigns .cl-campaign-box p {
  font-size: 14px;
  color: #333;
}
.cl-campaigns .cl-campaign-box:hover {
  background-color: #f5f5f5;
}
.cl-campaigns .cl-campaign-title {
  position: absolute;
  bottom: 5px;
  left: 15px;
  right: 15px;
  font-size: 25px;
  line-height: 30px;
  font-weight: 900;
  color: #fff;
  text-decoration: none;
  text-shadow: #000 1px 2px 17px;
}
.cl-campaigns .cl-campaign-title-horizontal {
  font-size: 25px;
  line-height: 30px;
  font-weight: 900;
  text-decoration: none;
}
.cl-campaigns .cl-campaign-idea-number {
  position: absolute;
  bottom: 45px;
  left: 30px;
  font-size: 16px;
  color: #999;
  font-weight: 900;
}
.cl-campaigns .cl-campaign-logo-box {
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  border: 1px solid #ccc;
  border-bottom: none;
}
.cl-campaigns .cl-campaign-logo {
  height: 100%;
  float: left;
  display: inline-block;
  padding-right: 15px;
}
.cl-campaigns .cl-campaign-end-date {
  position: absolute;
  bottom: 45px;
  right: 30px;
}
.cl-campaigns-horizontal .cl-row h3 {
  text-align: left;
}
.cl-campaigns-horizontal .cl-row p {
  font-size: 14px !important;
}
.cl-campaigns-horizontal .row {
  padding: 15px;
}
.cl-campaigns-horizontal .container {
  width: auto;
  border: 1px solid #ccc;
  padding: 7.5px;
  margin: 15px;
  margin-top: 30px;
  margin-bottom: 30px;
  -o-transition: .25s;
  -ms-transition: .25s;
  -moz-transition: .25s;
  -webkit-transition: .25s;
  transition: .25s;
}
.cl-campaigns-horizontal .container:hover {
  background-color: #f5f5f5;
}
.cl-campaigns-horizontal .img-responsive {
  padding-bottom: 15px;
}
.cl-campaigns-horizontal .cl-row h3 {
  color: #000;
}
.cl-campaign-horz-description {
  font-size: 14px !important;
}
.cl-campaign-horz-name {
  font-size: 25px ;
}
@media (min-width: 1200px) {
  .cl-campaigns > .cl-row {
    padding-left: 90px;
    padding-right: 90px;
  }
}
/* adjustment for small ios devices */
@media (max-width: 400px) {
  .cl-campaigns .cl-campaign-box {
    height: 340px;
  }
}
@media (max-width: 996px) {
  .cl-campaigns .cl-campaign-idea-number,
  .cl-campaigns .cl-campaign-end-date {
    bottom: 15px;
  }
}
/* -------END campaigns, standard with campaign logo with white title overlay, contained in white box------ */
/* -------tags------ */
/* word cloud frequency widget */
.cl-tags a.very-high {
  font-size: 23px;
}
.cl-tags a.high {
  font-size: 20px;
}
.cl-tags a.medium-high {
  font-size: 17px;
}
.cl-tags a.medium {
  font-size: 13px;
}
.cl-tags a.medium-low {
  font-size: 10px;
}
.cl-tags a.low {
  font-size: 9px;
}
.cl-tags a.very-low {
  font-size: 8px;
}
/* -------END tags------ */
/* -------footer------ */
.cl-footer .cl-row {
  padding-left: 30px;
  margin-top: -15px;
}
.cl-footer h4 {
  text-align: left !important;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: 900;
}
.cl-footer ul li {
  list-style: none;
  padding: 5px;
  font-size: 14px;
}
.cl-footer ul {
  margin-left: -18px;
}
.cl-footer ul li a {
  color: #fff;
}
.cl-footer ul li a:hover {
  color: #fff;
}
.cl-footer p {
  font-size: 10px;
  text-align: center;
}
/* -------END footer------ */
/* -------leaderboard----- */
.cl-leaderboard-img {
  width: 34px;
  height: 34px;
  border-radius: 100%;
}
/* -------END leaderboard----- */
/* -------video area------ */
.cl-video-section iframe {
  border: 0px;
}
.cl-video-section .glyphicon-play-circle {
  display: none;
}
.cl-video-section .cl-video-sm-link {
  color: #fff !important;
}
@media (min-width: 767px) {
  .cl-video-section .cl-video-sm-link {
    display: none;
  }
}
@media (max-width: 767px) {
  .cl-video-section iframe {
    display: none;
  }
  .cl-video-section a > .glyphicon-play-circle {
    font-size: 100px;
    margin: 0 auto;
    padding-bottom: 30px;
    display: block;
    text-align: center;
    color: #fff;
  }
  .cl-video-section a > .glyphicon-play-circle:hover {
    text-decoration: none;
  }
  .cl-video-section .cl-play-video-text {
    display: block;
  }
}
/* -------END video area------ */









</textarea>


	</div>





	<hr />

<% @selectionCount += 1 %>
<% end %>




</body>
</html>

</section>



